/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

section {
    width: 100vw;
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    overflow: hidden;
}